.footer-box
  if enable_sns_link
    .sns-link-box
      +link-icon("Tweet", "twitter", "fa-twitter")
      +link-icon("Facebook", "facebook", "fa-facebook-f")
      +link-icon("はてなブックマーク", "hatebu", "fa-hatebu")
      +link-icon("Project Page", "github", "fa-github")
  ul(class="footer-link-box")
    li
      a(href="/privacy-policy" class="footer-link")= privacy_policy_link_name
    li
      a(href="/disclaimer" class="footer-link")= disclaimer_link_name
    li
      a(class="footer-link" href="https://diatonic.jp" target="_blank")= "diatonic.jp"

