doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo|Montserrat")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
    script(src="./index.bundle.js")
    link(rel="icon", href="./images/favicon.ico")
  body
    block content
