doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/index.bundle.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cardo")
  body
    block content
