doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cardo")
    script(src="./index.bundle.js")
    link(rel="icon", href="./images/favicon.ico")
  body
    block content
