doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo|Montserrat")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/brands.css" integrity="sha384-7xAnn7Zm3QC1jFjVc1A6v/toepoG3JXboQYzbM0jrPzou9OFXm/fY6Z/XiIebl/k" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous")
    script(src="./index.bundle.js")
    link(rel="icon", href="./images/favicon.ico")
  body
    block content
