@charset "UTF-8";

:root {
  --arrow-color: hsl(110, 60%, 80%);
  --font-family: "minimum-key-signature", "Cardo";
  --expand-image-size: 40px;
  --key-box-width: 240px;
  --key-box-height: 140px;
}

@font-face {
  font-family: "minimum-key-signature";
  src: url("Minimum_key_signature-Regular.ttf") format("truetype");
}

html {
  overflow: auto;
}

body {
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  background-color: hsl(0, 10%, 20%);
  margin: 0px;
  min-width: 950px;
}

%key-signature-base {
  font-family: "minimum-key-signature"
}

%unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.header-box {
  margin-left: -500%;
  margin-right: -500%;
  padding-left: 500%;
  padding-right: 500%;
  background-color: hsl(0, 10%, 10%);
  display: flex;
  justify-content: space-between;
}

.font-style-en {
  font-family: "Cardo", serif;
  font-weight: normal;
}

.font-style-ja {
  font-family: "Noto Serif JP";
  font-display: block;
}

.font-style-zh-Hant {
  font-family: "Noto Serif TC";
  font-display: block;
}

.font-style-zh-Hans {
  font-family: "Noto Serif SC";
  font-display: block;
}

.title-text-box {
  height: 90px;
  line-height: 90px;
  padding: 0px 30px 0px;
  vertical-align: middle;
  color: hsl(0, 100%, 100%);

  h1 {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;

    a {
      color: #FFF;
      text-decoration: none;
    }
  }
}

.language-box {
  height: 90px;
  width: 200px;
  line-height: 90px;
  padding: 0px 30px 0px;
  vertical-align: middle;
  text-align: center;
  color: hsl(0, 100%, 100%);

  font-family: "Cardo", serif;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;

  > a {
    display: block;
    color: #fff;

    background: hsl(0, 10%, 10%);
    -webkit-transition: all .5s;
    transition: all .5s;

    /* 下矢印 */
    &:after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      margin: 0 0 0 15px;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: translateY(-5px) rotate(45deg);
      -ms-transform: translateY(-5px) rotate(45deg);
      transform: translateY(-5px) rotate(45deg);
    }

    > span {
      padding: 0px 10px;
    }
  }

  .items {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    line-height: 40px;

    position: absolute;
    top: 40px;
    width: 200px;
    background: #072A24;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    list-style-type: none;
    padding: 0px;

    > li {
      border-top: 1px solid #111;

      > a {
        display: block;
        text-decoration: none;
        color: #FFF;

        &:hover {
          background: #111;
        }
      }
    }
  }

  &:hover > .items {
    top: 50px;
    visibility: visible;
    opacity: 1;
  }
}

.key-container {
  height: 600px;
  width: 900px;
  margin: 60px auto;
  box-sizing: border-box;
  color: #FFFFFF;
}

.key-row {
  height: 140px;
  width: 100%;
  display: flex;
}

.arrow-row {
  height: 90px;
  width: 100%;
  display: flex;
  /* border: solid 3px rgb(79, 192, 65); */
  box-sizing: border-box;
}

/* .key-name-box-outer {
  height: 160px;
  width: 260px;
  font-weight: bold;
  display: block;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: hsl(120, 50%, 50%);
} */

%key-box-base {
  height: var(--key-box-height);
  width: var(--key-box-width);
  display: block;
  box-sizing: border-box;
  border-radius: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  box-shadow: 2px 2px 3px hsl(0, 0%, 9%);

  &:before, &:after {
    transition: all .3s;
    -webkit-transition: all .3s;
  }

  &:hover {
    filter: saturate(105%) brightness(112%);
    /* workaround of unexpected blur on safari. */
    /* https://stackoverflow.com/questions/13866577/mobile-safari-grayscale-filter-adds-blur */
    -webkit-transform: translateZ(0);
  }
}

.tonic-key {
  @extend %key-box-base;
  background-color: hsl(110, 50%, 50%);
 }

.directly-related-key {
  @extend %key-box-base;
  background-color: hsl(110, 30%, 50%);
 }

.indirectly-related-key {
  @extend %key-box-base;
  background-color: hsl(110, 10%, 50%);
 }

.key-name-box {
  @extend %unselectable;
  height: 65px;
  width: calc(240px - var(--expand-image-size) * 2);
  text-align: center;
  font-size: 50px;
  font-family: var(--font-family), serif;
  box-sizing: border-box;
  float: none;
  position: relative;
  top: 15px;
  left: var(--expand-image-size);
  line-height: 65px;
  overflow: hidden;
}

.expand-image {
  float: right;
  width: var(--expand-image-size);
  height: var(--expand-image-size);
  position: relative;
  border-radius: 20px;
}

.enharmonic-mode-symbol {
  font-family: var(--font-family);
  visibility: hidden;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  font-size: 28px;
  color: rgba(255, 255, 255, 75%);
}

.enharmonic-mode-sharp {
  position: absolute;
  top: 0px;
  left: -11px;
}

.enharmonic-mode-flat {
  position: absolute;
  top: 0px;
  left: 25px;
}

.switch-enharmonic-mode {
  @extend %unselectable;
  visibility: hidden;
}

.switch-minor-scale-mode {
  @extend %unselectable;
}

.rotate-symbol {
  font-family: var(--font-family);
  visibility: hidden;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 7px;
  left: 11px;
  border-radius: 20px;
  font-size: 19px;
  color: rgba(255, 255, 255, 75%);
}

.enharmonic-mode-rotate {
  position: absolute;
  top: 2px;
  left: 7px;
}

.minor-scale-mode-name {
  font-family: var(--font-family);
  visibility: hidden;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 37px;
  left: 5px;
  border-radius: 20px;
  font-size: 24px;
  color: rgba(255, 255, 255, 75%);
}

.minor-scale-mode-rotate {
  position: absolute;
  top: 27px;
  left: 16px;
}

.chords-box {
  clear: both;
  height: 65px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-family: var(--font-family), serif;
  /* border: solid 2px rgb(64, 185, 124); */
  font-size: 18px;
  box-sizing: border-box;
  padding-top: 12px;
}

.chords-line {
}

%arrow-base {
  display:inline-block;
  height:18px;
  width:23px;
  background-color: var(--arrow-color);
  position:relative;

  &:before {
    position:absolute;
    content:"";
    width:0;
    height:0;
    border:20px solid transparent;
    border-left:20px solid var(--arrow-color);
    left:22px;
    top:-11px;
  }
}

.left-arrow {
  @extend %arrow-base;
  transform: rotate(180deg) translate(-40px, -15px);
}

.right-arrow {
  @extend %arrow-base;
  transform: rotate(0deg)  translate(25px, 25px);
}

.up-arrow {
  @extend %arrow-base;
  transform: rotate(-90deg) translate(-29px, 109px);
}

.down-arrow {
  @extend %arrow-base;
  transform: rotate(90deg) translate(16px, -109px);
}

.arrow-box-head-padding {
  width: 90px;
  height: 25px;
}

.arrow-box-bottom-padding {
  width: 90px;
  height: 35px;
}

.arrow-box {
  width: 90px;
  height: 90px;
}

.arrow-box.vertical {
  width: var(--key-box-width);
  height: 90px;
}

.arrow-box-title {
  text-align: center;
  height: 24px;
  line-height: 24px;
  transform: translate(0, 4px);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.arrow-padding-side {
  width: 0px;
  height: 90px;
}

.arrow-padding-mid {
  width: 90px;
  height: 90px;
}

.key-detail {
  height: 100%;
}

.key-detail-heading {
  height: 25%;
  display: flex;
}

.key-title {
  height: 60px;
  width: calc(240px - var(--expand-image-size) * 2);
  text-align: left;
  font-size: 50px;
  line-height: 60px;
  font-family: var(--font-family), serif;
  color: #FFFFFF;
  float: none;
  position: relative;
  /* border: solid 1px hsl(90, 30%, 30%);
  box-sizing: border-box; */
  min-width: 130px;
}

.key-description {
  height: inherit;
  /* border: solid 1px hsl(90, 30%, 30%);
  box-sizing: border-box; */
}

.key-detail {
  height: inherit;
  margin: auto;
}

.staff-box {
  width: 840px;
  height: 280px;
  margin: auto;
  background-color: hsl(220, 10%, 75%);
  overflow: hidden;
}

.staff {
  margin: auto;
  width: 730px;
  height: 280px;
  transform: scale(1.4) translateX(96px);
}

.footer-box {
  background-color: hsl(0, 10%, 10%);
  text-align: center;
  padding: 20px;
}

.footer-link-box {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  vertical-align: baseline;
  color: hsl(0, 100%, 100%);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
}

.sns-link-box {
  margin: auto;
  padding: 5px;
  height: 50px;
  min-width: 268px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-button {
  float: left;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;

  a {
    color: inherit;
    line-height: 40px;
    vertical-align: top;

    i {
      line-height: inherit;
      display: inline-block;
      vertical-align: baseline;
      font-size: 22px;
    }
  }

  &:hover {
    box-shadow: inset 0 0 0 2px var(--arrow-color);
    color: var(--arrow-color);
    -webkit-transition: all .3s;
  }
}

.sns-button + .sns-button {
  margin: 0 0 0 20px;
}

/* Font Awesome hatena bookmark */
.fa-hatebu:before {
  content: "B!";
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 100%;
  display: inline-block;
  line-height: 100%;
}

.footer-link-box {
  font-size: 75%;
  margin: 0px;
  padding: 0px;

  .footer-link {
    border: 2px;
    border-color: hsl(1, 50%, 50%);
    text-decoration: none;
    list-style-type: none;
    color: #FFF;
  }

  li {
    list-style-type: none;
    display: inline;
    padding: 0px 6px;
  }

  li + li {
    border-left:1px solid #999;
  }
}

.modaal-container {
  border-radius: 20px;
  background-color: hsl(220, 10%, 75%);
}

/*
 A workaround for a bug that the close button disappears on iPhone.
 https://stackoverflow.com/questions/8110580/ios5-images-disappear-when-scrolling-with-webkit-overflow-scrolling-touch
 */
.modaal-wrapper {
  -webkit-transform: translateZ(0);
}

.modaal-wrapper .modaal-close {
  width: 40px;
  height: 40px;
}

.modaal-close:before, .modaal-close:after {
    top: 8px;
    left: 18px;
    width: 4px;
    height: 23px;
}

.modaal-content-container {
  padding: 30px;
}

.site-document-text {
  font-family: var(--font-family), serif;
  color: hsl(0, 100%, 100%);
  margin: 40px;
  font-size: 1em;
  letter-spacing: 0.05em;

  a {
    color: #FFF;
    padding: 5px;
  }

  h2 {
    font-size: 125%;
    background: transparent;
    padding-left: 10px;
    border-left: solid 3px #EEE;
  }

  p {
    font-size: 100%;
  }
}

.key-detail-setting {
  position: absolute;
  top: 43px;
  right: 0px;
  display: flex;
}

.key-detail-setting.active {
  position: absolute;
  top: 43px;
  right: 0px;
}

.key-detail-setting:not(.active) .key-detail-content-box {
  width: 0px;
  overflow: hidden;
  -webkit-transition: width .3s ease-out;
  -ms-transition: width .3s ease-out;
  transition: width .3s ease-out,
}

.key-detail-setting.active .key-detail-content-box {
  width: 250px;
  overflow: hidden;
  -webkit-transition: width .3s ease-out;
  -ms-transition: width .3s ease-out;
  transition: width .3s ease-out,
}

.menu-trigger {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 50px;
  height: 43px;
  background-color: #072A24;
  border-radius: 12px 0px 0px 12px;
}

.menu-trigger span {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 10px;
  width: 20px;
  height: 5px;
  background-color: #fff;
  border-radius: 4px;
}

.menu-trigger:not(.active) span {
  -webket-animation: menu-open .6s;
  animation: menu-open .6s;
}

.menu-trigger.active span {
  -webket-animation: menu-close .6s;
  animation: menu-close .6s;
}

.menu-trigger span:nth-of-type(1) {
  top: 5px;
  -webkit-transform: translateY(8px) rotate(135deg);
  transform: translateY(8px) rotate(135deg);
}
.menu-trigger span:nth-of-type(2) {
  bottom: 5px;
  -webkit-transform: translateY(-8px) rotate(45deg);
  transform: translateY(-8px) rotate(45deg);
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
.menu-trigger.active span:nth-of-type(2) {
  -webkit-transform: translateY(-8px) rotate(135deg);
  transform: translateY(-8px) rotate(135deg);
}
@-webkit-keyframes menu-close {
  0% {
    /* -webkit-transform: scale(0); */
    background-color: #072A24;
  }
  100% {
    /* -webkit-transform: scale(1); */
    background-color: #FFF;
  }
}

@keyframes menu-close {
  0% {
    /* transform: scale(0); */
    background-color: #072A24;
  }
  100% {
    /* transform: scale(1); */
    background-color: #FFF;
  }
}
@-webkit-keyframes menu-open {
  0% {
    /* -webkit-transform: scale(0); */
    background-color: #072A24;
  }
  100% {
    /* -webkit-transform: scale(1); */
    background-color: #FFF;
  }
}
@keyframes menu-open {
  0% {
    /* transform: scale(0); */
    background-color: #072A24;
  }
  100% {
    /* transform: scale(1); */
    background-color: #FFF;
  }
}

.key-detail-content-box {
  background: #072A24;
  border-radius: 0px 0px 0px 12px;

  > ul {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-block-start: 0px;
    margin-block-end: 0px;

    > li {
      display: flex;
    }

    > li + li {
      border-top: solid 1px #444;
    }
  }
}

.waveform-image-box .speaker-image-box {
  padding: 5px;
}

.setting-item-icon {
  width: 50px;
  height: 50px;
  display: block;
}

.volume-direction-label {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.volume-slider {
  width: 100%;
  height: 50px;
  display: block;
  margin: 0px;
}

.waveform-type-listbox {
  width: 160px;
  margin-left: 5px;
}

select.minimal {
  background-color: white;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  font-size: 24px;
  font-family: serif;
  line-height: 36px;
  margin: 7px;
  padding: 0px 0px 0px 10px;
  border-width: 0px;
  /* box-sizing: border-box; */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 19px) calc(17px), calc(100% - 14px) calc(17px), calc(100% - 36px) 9px;
  background-size: 5px 5px, 5px 5px, 1px 20px;
  background-repeat: no-repeat;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

