@charset "UTF-8";

:root {
  --arrow-color: hsl(110, 60%, 80%);
  --font-family: "Cardo";
  --expand-image-size: 40px;
}

html {
  overflow: auto;
}

body {
  overflow: hidden;
  background-color: hsl(0, 10%, 20%);
  margin: 0px;
  min-width: 950px;
}

.header-box {
  margin-left: -500%;
	margin-right: -500%;
	padding-left: 500%;
	padding-right: 500%;
  margin-bottom: 60px;
  background-color: hsl(0, 10%, 10%);
}

.header-text-box {
  height: 90px;
  line-height: 90px;
  padding: 0px 30px 0px;
  vertical-align: middle;
  color: hsl(0, 100%, 100%);

  h1 {
    font-family: var(--font-family), serif;
    font-weight: normal;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }
}

.key-container {
  height: 600px;
  width: 900px;
  margin: auto;
  box-sizing: border-box;
  color: #FFFFFF;
}

.key-row {
  height: 140px;
  width: 100%;
  display: flex;
}

.arrow-row {
  height: 90px;
  width: 100%;
  display: flex;
  /* border: solid 3px rgb(79, 192, 65); */
  box-sizing: border-box;
}

/* .key-name-box-outer {
  height: 160px;
  width: 260px;
  font-weight: bold;
  display: block;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: hsl(120, 50%, 50%);
} */

%key-box-base {
  height: 140px;
  width: 240px;
  /* font-weight: bold; */
  display: block;
  box-sizing: border-box;
  border-radius: 20px;
  /* background-color: hsl(120, 50%, 50%); */
  transition: all .3s;

  &:before, &:after {
    transition: all .3s;
    -webkit-transition: all .3s;
  }

  &:hover {
    filter: saturate(105%) brightness(112%);
  }
}

.tonic-key {
  @extend %key-box-base;
  background-color: hsl(110, 50%, 50%);
 }

.directly-related-key {
  @extend %key-box-base;
  background-color: hsl(110, 30%, 50%);
 }

.indirectly-related-key {
  @extend %key-box-base;
  background-color: hsl(110, 10%, 50%);
 }

.key-name-box {
  height: 75px;
  width: calc(240px - var(--expand-image-size) * 2);
  text-align: center;
  font-size: 50px;
  font-family: var(--font-family), serif;
  /* border: solid 2px #30FFCC; */
  box-sizing: border-box;
  float: none;
  position: relative;
  top: 10px;
  left: var(--expand-image-size);
}

.expand-image {
  float: right;
  width: var(--expand-image-size);
  height: var(--expand-image-size);
  position: relative;
  border-radius: 20px;
  /* top: -10px;
  left: 10px; */
  /* transfrom: translate(20px, -20px); */
}

.chords-box {
  clear: both;
  height: 65px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-family: var(--font-family), serif;
  /* border: solid 2px rgb(64, 185, 124); */
  font-size: 18px;
  box-sizing: border-box;
}

.chords-line {
}

%arrow-base {
  display:inline-block;
  height:18px;
  width:23px;
  background-color: var(--arrow-color);
  position:relative;

  &:before {
    position:absolute;
    content:"";
    width:0;
    height:0;
    border:20px solid transparent;
    border-left:20px solid var(--arrow-color);
    left:22px;
    top:-11px;
  }
}

.left-arrow {
  @extend %arrow-base;
  transform: rotate(180deg) translate(-40px, -15px);
}

.right-arrow {
  @extend %arrow-base;
  transform: rotate(0deg)  translate(25px, 25px);
}

.up-arrow {
  @extend %arrow-base;
  transform: rotate(-90deg) translate(-29px, 34px);
}

.down-arrow {
  @extend %arrow-base;
  transform: rotate(90deg) translate(16px, -34px);
}

.arrow-box-head-padding {
  width: 90px;
  height: 25px;
}

.arrow-box-bottom-padding {
  width: 90px;
  height: 35px;
}

.arrow-box {
  width: 90px;
  height: 90px;
}

.arrow-box-title {
  width: 90px;
  text-align: center;
  transform: translate(0, 4px);
}

.arrow-padding-side {
  width: 75px;
  height: 90px;
}

.arrow-padding-mid {
  width: 240px;
  height: 90px;
}

.key-detail {
  height: 100%;
}

.key-detail-heading {
  height: 25%;
  display: flex;
}

.key-title {
  height: 60px;
  width: calc(240px - var(--expand-image-size) * 2);
  text-align: left;
  font-size: 50px;
  line-height: 60px;
  font-family: var(--font-family), serif;
  color: #FFFFFF;
  float: none;
  position: relative;
  border: solid 1px hsl(90, 30%, 30%);
  box-sizing: border-box;
  min-width: 130px;
}

.key-description {
  height: inherit;
  border: solid 1px hsl(90, 30%, 30%);
  box-sizing: border-box;
}

.key-detail {
  height: inherit;
  margin: auto;
}

.staff-box {
  width: 660px;
  height: 175px;
  margin: auto;
  background-color: hsl(220, 10%, 75%);

  border: solid 1px hsl(90, 30%, 30%);
  box-sizing: border-box;
}

.staff {
  margin: auto;
}

.footer-box {
  margin: 60px 0px 0px;
  background-color: hsl(0, 10%, 10%);
  text-align: center;
}

.footer-text-box {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  color: hsl(0, 100%, 100%);
}

/* .popupS-layer.popupS-open {
  background-color: hsl(50, 25%, 75%);
  border-radius: 20px;
  width: 720px;
  height: 480px;
  max-width: 100%;
  max-height: 100%;
}

.popupS-layer .popupS-content {
  width: 720px;
  height: 480px;
  padding: 0px;
  background-color: hsl(50, 25%, 75%);
  box-sizing: border-box;
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
} */


.modaal-container {
  border-radius: 20px;
  background-color: hsl(220, 10%, 75%);
}

.modaal-wrapper .modaal-close {
  width: 40px;
  height: 40px;
}

.modaal-close:before, .modaal-close:after {
    top: 8px;
    left: 18px;
    width: 4px;
    height: 23px;
}